html, body {
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    font-family: 'Merriweather', sans-serif;
}

.todo {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.todo__input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.todo__item--done {
    text-decoration: line-through;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.radio-inline {
    margin-left: 20px;
}

.js_toggle_todo {
    margin-right: 10px;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

.jumbotron p {
    font-family: 'Pacifico', cursive;
    float: right;
    color: #004cce;
}

.title {
    font-size: 58px;
    font-family: 'Bungee Outline', cursive;
    font-weight: bold;
    color: #0b1a34;
}

.filter {
    margin-top: 20px;
    margin-bottom: 20px;
}
